Lab2

In [ ]:
import pandas as pd
import urllib.request
import datetime
import os
import shutil
from IPython.display import display

Loading data and writing it to corresponding files

In [134]:
def get_url(i: int) -> str:
    return f'https://www.star.nesdis.noaa.gov/smcd/emb/vci/VH/get_TS_admin.php?country=UKR&provinceID={i}&year1=1981&year2=2024&type=Mean'

def file_create(i: int, data: bytes, csv_path: str) -> None:
    date_time = datetime.datetime.now().strftime("%d%m%Y%H%M%S")
    out = open(f'{csv_path}/vhi_id_{i}_{date_time}.csv', "wb")
    out.write(data)

if os.path.isdir(csv_path:="csv_files"):
    shutil.rmtree(csv_path)

os.mkdir(csv_path)

for i in range(1, 28):
    url = get_url(i)
    data = urllib.request.urlopen(url).read()
    file_create(i, data, csv_path)
print("Files with data created")

Files with data created

Reading csv data into pandas dataframes

In [135]:
headers = ['Year', 'Week', 'SMN', 'SMT', 'VCI', 'TCI', 'VHI', 'empty']

def dataframe_create(path: str):    
    for file in (os.listdir(path)):
        i = file.split(sep='_')[2]
        df = pd.read_csv(f'{path}/{file}', header = 1, names = headers)

        print(f'File {file} dataframe:')
        
        # dropping NaN values
        df = df.dropna(subset=['VHI']).drop(columns=['empty'])

        # normalizing data
        df["Year"] = df["Year"].str.extract(r"(\d+)").astype(int)
        df['Week'] = df['Week'].astype(int)
        df.insert(0, 'ProvinceID', [int(i)] * df.shape[0])
        
        display(df.head())

dataframe_create(csv_path)

File vhi_id_10_19022025193540.csv dataframe:

   ProvinceID  Year  Week    SMN     SMT    VCI    TCI    VHI
0          10  1982     1  0.059  258.24  51.11  48.78  49.95
1          10  1982     2  0.063  261.53  55.89  38.20  47.04
2          10  1982     3  0.063  263.45  57.30  32.69  44.99
3          10  1982     4  0.061  265.10  53.96  28.62  41.29
4          10  1982     5  0.058  266.42  46.87  28.57  37.72

File vhi_id_11_19022025193540.csv dataframe:

   ProvinceID  Year  Week    SMN     SMT    VCI    TCI    VHI
0          11  1982     1  0.077  262.50  61.42  34.11  47.76
1          11  1982     2  0.084  264.78  67.23  24.00  45.62
2          11  1982     3  0.086  265.88  67.65  20.41  44.03
3          11  1982     4  0.084  266.90  65.13  19.09  42.11
4          11  1982     5  0.078  266.89  55.58  25.02  40.30

File vhi_id_12_19022025193542.csv dataframe:

   ProvinceID  Year  Week    SMN     SMT    VCI    TCI    VHI
0          12  1982     1  0.064  260.95  50.71  39.00  44.85
1          12  1982     2  0.070  263.49  52.53  29.38  40.95
2          12  1982     3  0.072  264.57  52.47  26.57  39.52
3          12  1982     4  0.071  265.28  52.44  26.35  39.39
4          12  1982     5  0.067  265.03  48.50  34.18  41.34

File vhi_id_13_19022025193543.csv dataframe:

   ProvinceID  Year  Week    SMN     SMT    VCI    TCI    VHI
0          13  1982     1  0.045  261.12  36.68  41.79  39.23
1          13  1982     2  0.041  262.61  36.46  35.10  35.78
2          13  1982     3  0.041  263.82  36.49  30.79  33.64
3          13  1982     4  0.038  264.71  33.46  28.66  31.06
4          13  1982     5  0.034  264.76  29.66  30.50  30.08

File vhi_id_14_19022025193544.csv dataframe:

   ProvinceID  Year  Week    SMN     SMT    VCI    TCI    VHI
0          14  1982     1  0.036  249.48  40.51  79.90  60.21
1          14  1982     2  0.034  251.07  40.82  71.85  56.33
2          14  1982     3  0.032  252.56  38.21  64.53  51.37
3          14  1982     4  0.030  254.76  32.74  55.45  44.10
4          14  1982     5  0.027  256.18  26.61  53.62  40.12

File vhi_id_15_19022025193545.csv dataframe:

   ProvinceID  Year  Week    SMN     SMT    VCI    TCI    VHI
0          15  1982     1  0.058  254.19  24.78  81.74  53.26
1          15  1982     2  0.057  255.70  26.94  78.59  52.76
2          15  1982     3  0.056  258.26  27.35  70.35  48.85
3          15  1982     4  0.054  260.76  25.28  62.07  43.68
4          15  1982     5  0.052  262.59  21.87  59.53  40.70

File vhi_id_16_19022025193546.csv dataframe:

   ProvinceID  Year  Week    SMN     SMT    VCI    TCI    VHI
0          16  1982     1  0.066  266.54  40.85  32.55  36.70
1          16  1982     2  0.066  267.40  42.87  28.53  35.70
2          16  1982     3  0.065  268.03  42.87  25.85  34.36
3          16  1982     4  0.061  268.46  39.17  25.89  32.53
4          16  1982     5  0.053  268.39  33.90  27.52  30.71

File vhi_id_17_19022025193546.csv dataframe:

   ProvinceID  Year  Week    SMN     SMT    VCI    TCI    VHI
0          17  1982     1  0.067  266.68  41.66  37.50  39.58
1          17  1982     2  0.064  267.80  41.90  34.64  38.27
2          17  1982     3  0.061  268.21  40.71  33.80  37.26
3          17  1982     4  0.055  268.14  35.53  35.58  35.55
4          17  1982     5  0.048  268.13  30.39  37.23  33.81

File vhi_id_18_19022025193547.csv dataframe:

   ProvinceID  Year  Week    SMN     SMT    VCI    TCI    VHI
0          18  1982     1  0.044  255.31  46.66  61.44  54.05
1          18  1982     2  0.042  257.37  45.34  51.39  48.37
2          18  1982     3  0.041  259.08  43.25  45.76  44.50
3          18  1982     4  0.039  260.68  41.60  41.89  41.74
4          18  1982     5  0.037  261.76  37.00  41.55  39.27

File vhi_id_19_19022025193548.csv dataframe:

   ProvinceID  Year  Week    SMN     SMT    VCI    TCI    VHI
0          19  1982     1  0.077  258.13  44.89  63.95  54.42
1          19  1982     2  0.084  261.28  55.41  47.93  51.67
2          19  1982     3  0.088  263.61  59.42  38.01  48.72
3          19  1982     4  0.091  266.15  57.55  29.88  43.71
4          19  1982     5  0.092  267.85  50.06  29.18  39.62

File vhi_id_1_19022025193531.csv dataframe:

   ProvinceID  Year  Week    SMN     SMT    VCI    TCI    VHI
0           1  1982     1  0.053  260.31  45.01  39.46  42.23
1           1  1982     2  0.054  262.29  46.83  31.75  39.29
2           1  1982     3  0.055  263.82  48.13  27.24  37.68
3           1  1982     4  0.053  265.33  46.09  23.91  35.00
4           1  1982     5  0.050  265.66  41.46  26.65  34.06

File vhi_id_20_19022025193549.csv dataframe:

   ProvinceID  Year  Week    SMN     SMT    VCI    TCI    VHI
0          20  1982     1  0.054  263.39  17.56  67.52  42.54
1          20  1982     2  0.056  264.47  17.35  64.82  41.09
2          20  1982     3  0.059  265.96  18.50  60.91  39.70
3          20  1982     4  0.061  268.24  19.39  54.00  36.69
4          20  1982     5  0.066  269.84  22.14  49.24  35.69

File vhi_id_21_19022025193550.csv dataframe:

   ProvinceID  Year  Week    SMN     SMT    VCI    TCI    VHI
0          21  1982     1  0.046  253.42  36.09  67.67  51.88
1          21  1982     2  0.045  254.47  38.14  63.53  50.83
2          21  1982     3  0.043  255.75  39.00  59.29  49.14
3          21  1982     4  0.043  257.91  43.21  51.11  47.16
4          21  1982     5  0.042  259.03  41.37  48.49  44.93

File vhi_id_22_19022025193551.csv dataframe:

   ProvinceID  Year  Week    SMN     SMT    VCI    TCI    VHI
0          22  1982     1  0.045  256.19  38.16  59.38  48.77
1          22  1982     2  0.047  258.77  42.75  49.09  45.92
2          22  1982     3  0.045  260.25  43.44  43.56  43.50
3          22  1982     4  0.040  261.37  37.43  40.81  39.12
4          22  1982     5  0.037  262.61  30.04  41.17  35.60

File vhi_id_23_19022025193552.csv dataframe:

   ProvinceID  Year  Week    SMN     SMT    VCI    TCI    VHI
0          23  1982     1  0.061  253.43  17.93  90.95  54.44
1          23  1982     2  0.059  255.61  16.96  85.31  51.13
2          23  1982     3  0.060  258.56  16.90  74.56  45.73
3          23  1982     4  0.060  261.17  16.45  63.52  39.98
4          23  1982     5  0.061  263.92  15.86  53.34  34.60

File vhi_id_24_19022025193553.csv dataframe:

   ProvinceID  Year  Week    SMN     SMT    VCI    TCI    VHI
0          24  1982     1  0.068  263.59  63.47  28.34  45.90
1          24  1982     2  0.074  265.78  67.62  23.05  45.34
2          24  1982     3  0.076  267.19  69.37  20.40  44.88
3          24  1982     4  0.075  268.57  65.26  17.93  41.60
4          24  1982     5  0.072  269.24  58.58  20.00  39.29

File vhi_id_25_19022025193554.csv dataframe:

   ProvinceID  Year  Week    SMN     SMT    VCI    TCI    VHI
0          25  1982     1  0.061  255.81  28.81  78.96  53.88
1          25  1982     2  0.064  258.24  34.77  67.16  50.97
2          25  1982     3  0.065  261.01  35.64  55.67  45.65
3          25  1982     4  0.065  263.59  33.28  46.80  40.04
4          25  1982     5  0.064  265.67  29.19  43.69  36.44

File vhi_id_26_19022025193555.csv dataframe:

   ProvinceID  Year  Week    SMN     SMT    VCI    TCI    VHI
0          26  1982     1  0.056  262.27  52.32  38.91  45.61
1          26  1982     2  0.053  262.89  51.85  35.01  43.43
2          26  1982     3  0.052  263.78  51.81  32.00  41.91
3          26  1982     4  0.051  264.98  49.19  31.34  40.26
4          26  1982     5  0.049  265.84  43.77  34.11  38.94

File vhi_id_27_19022025193556.csv dataframe:

   ProvinceID  Year  Week    SMN     SMT    VCI    TCI    VHI
0          27  1982     1  0.083  261.70  57.78  41.22  49.50
1          27  1982     2  0.092  264.40  65.82  31.42  48.62
2          27  1982     3  0.097  265.74  70.62  27.11  48.86
3          27  1982     4  0.101  267.73  71.82  20.73  46.28
4          27  1982     5  0.102  268.87  65.88  21.34  43.61

File vhi_id_2_19022025193532.csv dataframe:

   ProvinceID  Year  Week    SMN     SMT    VCI    TCI    VHI
0           2  1982     1  0.060  258.80  38.36  47.85  43.10
1           2  1982     2  0.061  260.12  38.92  42.42  40.67
2           2  1982     3  0.059  260.66  36.22  42.39  39.30
3           2  1982     4  0.058  261.71  35.32  41.06  38.19
4           2  1982     5  0.053  261.20  31.66  48.09  39.88

File vhi_id_3_19022025193533.csv dataframe:

   ProvinceID  Year  Week    SMN     SMT    VCI    TCI    VHI
0           3  1982     1  0.065  260.93  41.81  53.98  47.90
1           3  1982     2  0.066  262.39  42.16  49.09  45.62
2           3  1982     3  0.067  263.42  42.06  46.27  44.17
3           3  1982     4  0.067  264.39  38.35  44.27  41.31
4           3  1982     5  0.067  265.61  34.87  41.49  38.18

File vhi_id_4_19022025193534.csv dataframe:

   ProvinceID  Year  Week    SMN     SMT    VCI    TCI    VHI
0           4  1982     1  0.076  269.58  33.30  36.44  34.87
1           4  1982     2  0.070  269.26  30.50  37.03  33.76
2           4  1982     3  0.066  269.06  28.49  38.33  33.41
3           4  1982     4  0.063  269.28  25.78  39.94  32.86
4           4  1982     5  0.064  270.09  25.43  39.25  32.34

File vhi_id_5_19022025193535.csv dataframe:

   ProvinceID  Year  Week    SMN     SMT    VCI    TCI    VHI
0           5  1982     1  0.046  257.66  51.90  50.82  51.36
1           5  1982     2  0.042  258.32  47.86  46.42  47.14
2           5  1982     3  0.039  259.50  43.05  41.65  42.35
3           5  1982     4  0.036  260.73  37.80  39.25  38.53
4           5  1982     5  0.033  261.70  32.56  39.82  36.19

File vhi_id_6_19022025193536.csv dataframe:

   ProvinceID  Year  Week    SMN     SMT    VCI    TCI    VHI
0           6  1982     1  0.038  253.37  46.09  65.49  55.79
1           6  1982     2  0.036  254.53  44.28  59.57  51.93
2           6  1982     3  0.034  255.68  41.53  54.36  47.95
3           6  1982     4  0.033  257.90  38.80  47.60  43.20
4           6  1982     5  0.032  259.33  35.55  46.42  40.98

File vhi_id_7_19022025193537.csv dataframe:

   ProvinceID  Year  Week    SMN     SMT    VCI    TCI    VHI
0           7  1982     1  0.070  255.79  27.63  78.38  53.00
1           7  1982     2  0.073  257.68  30.82  71.96  51.39
2           7  1982     3  0.077  259.75  33.88  64.97  49.42
3           7  1982     4  0.080  261.90  34.23  58.57  46.40
4           7  1982     5  0.082  263.84  32.05  53.87  42.96

File vhi_id_8_19022025193538.csv dataframe:

   ProvinceID  Year  Week    SMN     SMT    VCI    TCI    VHI
0           8  1982     1  0.038  252.22  47.05  69.15  58.10
1           8  1982     2  0.036  253.39  45.39  63.52  54.45
2           8  1982     3  0.033  254.22  41.22  60.22  50.72
3           8  1982     4  0.031  255.60  37.35  58.01  47.68
4           8  1982     5  0.030  257.16  32.54  56.92  44.73

File vhi_id_9_19022025193539.csv dataframe:

   ProvinceID  Year  Week    SMN     SMT    VCI    TCI    VHI
0           9  1982     1  0.079  267.92  43.33  29.71  36.52
1           9  1982     2  0.074  267.83  42.28  28.60  35.44
2           9  1982     3  0.076  267.98  44.17  28.60  36.38
3           9  1982     4  0.077  268.75  45.15  28.16  36.66
4           9  1982     5  0.077  269.44  44.22  28.30  36.26